<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBTwgH63N0JfVzoUCWkEWqQO0jzNigPjlo",
        authDomain: "gf-chat.firebaseapp.com",
        databaseURL: "https://gf-chat.firebaseio.com",
        storageBucket: "gf-chat.appspot.com",
      };
      firebase.initializeApp(config);
      </script>
      <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../assets/css/footer-distributed-with-contact-form.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
      <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
      <link href="../assets/css/logo-nav.css" rel="stylesheet">
      <link href="../assets/css/sidebar.css" rel="stylesheet">
      <script src="../assets/js/jquery.js"></script>
      <script src="../assets/js/bootstrap.min.js"></script>
      <script src="../assets/js/asidebar.jquery.js"></script>
   </head>

   <body>
   <!-- header menu -->  
   <div class="container-fluid">   
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                    <a href="http://localhost:5000/index.html" 
                    class="navbar-brand">FG-Chat</a>
                    </li>
                 
                </ul>
            </div>
        </div>
    </nav>
<nav class="navbar navbar-fixed" role="navigation">
  <ul class="nav navbar-nav">
    
      <a href="#" onclick="$('.aside').asidebar('open')"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
       
  </ul>
       <div class="col-md-6">
                      <div id="custom-search-input">
                          <div class="input-group col-md-10" style="margin-left:50%">
                              <input type="text" class="form-control input-lg" placeholder="Search here" />
                              <span class="input-group-btn">
                             <button class="btn btn-info btn-lg" type="button">
                                      <i class="fa fa-search" aria-hidden="true"></i>
                             </button>
                      </span>
                </div>
           </div>
     </div>
</nav>
<div class="jquery-script-ads">
 <!-- side bar menu -->
    <div class="aside">
      <div class="aside-header">
        FG-Chat
        <span class="close" data-dismiss="aside" aria-hidden="true">&times;</span>
      </div>
      <div class="aside-contents">
        <ul class="list-group list-group-flush">
          <a><li class="list-group-item"><i class="fa fa-female" aria-hidden="true"></i> Freebice</li></a>
          <a><li class="list-group-item"><i class="fa fa-gift" aria-hidden="true"></i> Gift</li></a>
          <a><li class="list-group-item"><i class="fa fa-question" aria-hidden="true"></i> Q&A</li></a>
           <a><li class="list-group-item"><i class="fa fa-search" aria-hidden="true"></i></i> Search</li></a>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">Let Play Chat with me !</a>
        </div>
      </div>
    </div>
    <div class="aside-backdrop"></div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="../assets/js/asidebar.jquery.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251023-1']);
      _gaq.push(['_setDomainName', 'jqueryscript.net']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

   </script>
   <!--  content here -->
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">Post Example 
                    <small>Freebice hot news</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>
              <div class="col-sm-6">
                <div class="card card-block">
                  <h3 class="card-title">Special title treatment</h3>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>

                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                      <a href="#"><i class="fa fa-github"></i></a>
                </div>
              </div>
  <!-- footer -->
    <footer class="footer-distributed col-md-12">

      <div class="footer-left">

        <h3>FG-<span>chat</span></h3>

        <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">FG-chat &copy; 2016</p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>
      </div>
      <div class="footer-right">
        <p>Contact Us</p>
        <form action="#" method="post">
          <input type="text" name="email" placeholder="Email" />
          <textarea name="message" placeholder="Message"></textarea>
          <button>Send</button>
        </form>
    </footer>
    </div>
  </body>
</html>