  <style>
  body {
      padding-top: 56px;
      width: 100%;
  }
  #section1 {color: #fff; background-color: #1E88E5;}
  </style>
<div id="section1" class="container-fluid"> 
	<div class="container">
       <div class="row">
            <div class="col-lg-8">
                <h2 class="page-header">Something Bout Freebie 
                    <small>Freebice hot news</small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/Cuerden.jpg" alt="" width="450px" height="300px">
            </div>
              <div class="col-sm-6">
                <div class="card card-block">
                  <h3 class="card-title">What is Freebice service ?</h3>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below.
                  content.With supporting text below as a natural lead-in to additional content.With  supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below.
                  content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below.</p>
			   </div>
			</div>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card card-block">
			      <h3 class="card-title">What is Freebice Product</h3>
			      <p class="card-text">With supporting text below as a natural lead-in to additional
			      content.With supporting text below as a natural lead-in to additional content.With  supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below.
                  content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below. content.</p>
			      <a href="#" class="btn btn-primary">Go somewhere</a>
			    </div>
			  </div>
			   <div class="col-sm-6">
		       <div class="card card-inverse">
			  <img class="card-img" src="img/Freebies.jpg" alt="Card image">
			  <div class="card-img-overlay">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			  </div>
			  </div>
			</div>
			</div>
				
			</div>
		</div>
	</div>