         <!--  content center -->
      <div class="col-sm-8 text-left">
         <div class="panel-heading">
            <div class="row">
              <div class="col-lg-8">
                <h2 class="page-header">Post Example 
                    <small>Freebice hot news</small>
                </h2>
            </div>
      </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/Freebies.jpg" alt="">
            </div>
              <div class="col-sm-6">
                <div class="card card-block">
                  <h3 class="card-title">Special title treatment</h3>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below.</p>
                  <a ui-sref="freebie" class="btn btn-primary">Read more</a>

                         <small>Freebice hot news</small>
                          <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
                          <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-lg-12">
              <div class="col-lg-8">
                  <h2 class="page-header">Post Example 
                    <small>Freebice hot news</small>
                  </h2>
               </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/tumblr.jpg" alt="">
            </div>
              <div class="col-sm-6">
                <div class="card card-block">
                  <h3 class="card-title">Special title treatment</h3>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below.</p>
                  <a ui-sref="gift" class="btn btn-primary">Read more</a>
                          <small>Freebice hot news</small>
                          <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
                          <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
                 </div>
              </div>
            </div>
          </div>
       </div>
    </div>
   <!-- content center end -->