
 <div class="main">
    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Log in</li>
        </ol>

        <div class="row">
            
            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Log in</h1>
                </header>
                
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                            <h3 class="thin text-center">Log in to your account</h3>
                            <p class="text-center text-muted">Place fill the column carefully ! </p>
                            <hr>
                            
                            <form class="form-horizontal" role="form" ng-submit="authCtrl.login(login.$valid)" name="login">
                                <div class="top-margin">
                                    <label>Email <span class="text-danger">*</span></label>
                                    <input type="email" id="email" placeholder="Email" class="form-control" ng-model="authCtrl.user.email" validator="required,email" email-success-message="Field Email is correct email" email-error-message="Field Email is not correct email" required-error-message="Field Email is required email" valid-method="blur">
                                </div>
                                <div class="top-margin">
                                    <label>Password <span class="text-danger">*</span></label>
                                    <input type="password" id="password" placeholder="Password" class="form-control" ng-model="authCtrl.user.password" validator="required, minlength=6" required-error-message="Field Password is required" minlength-success-message="Field Password is strong enough" minlength-error-message="Field Password is required at least 6 digits" valid-method="blur">
                                </div>

                                <hr>

                                <div class="row">
                                  
                                    <div class="col-lg-6 text-right">
                                         <input type="submit" class="btn btn-submit btn-block" value="Login">
                                    </div>
                                    <div class="col-lg-4 text-right">
                                           <div class="form-group">
                                            <button type="button" class="btn btn-primary " ng-click="authCtrl.loginFacebook()">Facebook</button>
                                            <button type="button" class="btn btn-danger " ng-click="authCtrl.loginGoogle()">Google+</button>
                                    </div>
                                    </div>
                                      <div class="col-lg-6">
                                        <a href="">Forgot password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                
            </article>
            <!-- /Article -->

        </div>
    </div>  <!-- /container -->   
        
</div>





