<!--  content center -->
<div class="col-sm-8">
    <div class="container">
        <div class="row hold">
            <div class="col-sm-8">
                <form class="form-horizontal" role="form" ng-submit="authCtrl.login(login.$valid)" name="login">
                <h2>Login</h2>
                <toaster-container toaster-options="{'time-out': 10000}"></toaster-container>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" ng-model="authCtrl.user.email" validator="required,email"
                        email-success-message="Field Email is correct email" 
                        email-error-message="Field Email is not correct email" required-error-message="Field Email is required email"valid-method="blur">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control" ng-model="authCtrl.user.password" validator="required, minlength=6" required-error-message="Field Password is required" minlength-success-message="Field Password is strong enough" minlength-error-message="Field Password is required at least 6 digits"valid-method="blur">
                    </div> 
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <input type="submit" class="btn btn-submit btn-block" value="Login">
                    </div>
                </div>
                </br>
                </br>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="button" class="btn btn-primary " ng-click="authCtrl.loginFacebook()">Facebook</button>
                        <button type="button" class="btn btn-danger " ng-click="authCtrl.loginGoogle()">Google+</button>
                    </div>
                </div>
            </form> <!-- /form -->
            </div>
        </div> <!-- ./container -->
    </div>
 </div>
   <!-- content center end -->

