
<!--  content center -->
  <div class="col-sm-8">
     <div class="container style="margin-top: 20px; margin-bottom: 20px;">
          <div class="row">
            <div class="col-sm-8">
                      <div class="col-md-4 bg_blur ">                         
                      </div>
                          <div class="col-md-8  col-xs-12">
                             <img src="img/Chat-time.jpg" class="img-thumbnail picture hidden-xs" />
                             <div class="header" >
                                  <h1>Sokheng Sou</h1>
                                  <h4>sokheng.sou2592@gmail.com</h4>
                                  <h4>Male</h4>
                                  <h4>21 year old</h4>
                             </div>
                          </div>
                      </div>  
                       <div class="row nav">    
                          <div class="col-md-8 col-xs-12" style="margin: 6px;padding: 6px;">
                           <h3> This about user interest</h3>
                           <p>This about user bio and more about user bio and more about user bio and more about user bio and more about user bio and more about user bio and more about user name and morea bout user gender and more about user adress and more about user home.</p>
                          </div>
                      </div>        
            </div>
        </div> 
    </div>
 </div>
   <!-- content center end -->



