<div class="container">
  <div class="row">
    <div class="hold"> 
    <div class="main">
      <h3>Place Register <a href="#">Here</a></h3>
      <div class="row">
      <form role="form">
        <div class="form-group">
          <label for="inputFname">First Name</label>
          <input type="text" class="form-control" id="inputname" name="name"/>       
        </div>
        <div class="form-group">
          <label for="inputLname">Last Name</label>
          <input type="password" class="form-control" id="inputlname" name="lname"/>
        </div>
          <div class="form-group">
          <label for="inputemail">Email</label>
          <input type="password" class="form-control" id="inputemail" name="email"/>
        </div>
          <div class="form-group">
          <label for="inputAdress">Adress</label>
          <input type="password" class="form-control" id="inputadress" name="adress"/>
        </div>
          <div class="form-group">
          <p>Gender</p>
          <label for="inputMale">Male</label>
          <input type="radio" name="gender" value="male" checked id="inputmale">
          <label for="inputFemale">Female</label>
           <input type="radio" name="gender" value="female" id="inputfemale">
        </div>
          <div class="form-group">
          <label for="inputPassword">Passworld</label>
          <input type="password" class="form-control" id="inputpassworld" name="pass"/>
        </div>
        <div class="checkbox pull-right">
          <label>
            <input type="checkbox">
            Forget your passworld ! </label>
        </div>
        <button type="submit" class="btn btn btn-primary">
         Login
        </button>
      </form>   
        </div>
      </div>
    </div>   
  </div>
</div>
</div>