<toaster-container toaster-options="{'time-out': 10000}"></toaster-container>
<div class="main">
    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Register</li>
        </ol>

        <div class="row">
            
            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Register</h1>
                </header>
                
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                              <h3 class="thin text-center">You are not yet having a count!</h3>
                            <p class="text-center text-muted">Place fill the column provide step by step and then click submit ! </p>
                            <hr>                            
                            <form class="form-horizontal" role="form" ng-submit="authCtrl.register(register.$valid)" name="register">
                                <div class="top-margin">
                                    <label>First Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" ng-model="authCtrl.user.firstName" placeholder="Fist Name" id="firstName" validator="required, maxlength=15" maxlength-success-message="Field First Name is corrected!" maxlength-error-message="Your First Name is too long" required-error-message="Field First Name is required" valid-method="blur"/> 
                                </div>

                                <div class="top-margin">
                                    <label>Last Name<span class="text-danger">*</span></label>
                                    <input type="text" id="email" placeholder="Last Name" class="form-control" ng-model="authCtrl.user.lastName" validator="required,maxlength=15" maxlength-success-message="Field Last Name is corrected!" maxlength-error-message="Your Last Name is too long" required-error-message="Field Last Name is required" valid-method="blur">
                                </div>

                                 <div class="top-margin">
                                    <label>E-mail<span class="text-danger">*</span></label>
                                    <input type="email" id="email" placeholder="Email" class="form-control" ng-model="authCtrl.user.email" validator="required,email" email-success-message="Field Email is correct email" email-error-message="Field Email is not correct email" required-error-message="Field Email is required email" valid-method="blur">
                                </div>

                                 <div class="top-margin">
                                    <label>Password<span class="text-danger">*</span></label>
                                    <input type="password" id="password" placeholder="Password"  ng-model="authCtrl.user.password" class="form-control" validator="required, minlength=6" required-error-message="Field Password is required" minlength-success-message="Field Password is strong enough" minlength-error-message="Field Password is required at least 6 digits" valid-method="blur">
                                </div>
                                 <div class="top-margin">
                                    <label>Address<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="inputAdress" ng-model="authCtrl.user.address" placeholder="Address" validator="required, maxlength=25" maxlength-success-message="Field Address is corrected!" maxlength-error-message="Your Address is too long" required-error-message="Field Address is required" valid-method="blur"/>
                                    </div>
                                 <div class="top-margin">
                                            <div class="col-sm-4 gender">
                                                <label class="radio-inline" for="femaleRadio">
                                                    <input type="radio" id="femaleRadio" name="gender" ng-model="authCtrl.user.gender" value="Female">Female
                                                </label>
                                            </div>
                                            <div class="col-sm-4 gender">
                                                <label class="radio-inline" for="maleRadio">
                                                    <input type="radio" id="maleRadio" name="gender" ng-model="authCtrl.user.gender" value="Male">Male
                                                </label>
                                         </div>
                                    </div>                                
                                    <div class="top-margin gender">
                                         <input type="submit" class="btn btn-primary btn-block" value="Register">
                                    </div>
                            </form>
                        </div>
                    </div>
                
            </article>
            <!-- /Article -->

        </div>
    </div>  <!-- /container -->   
        
</div>
