<div class="main">
	<!-- container -->
	<div class="container">

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">About us GF-chat</h1>
				</header>
				<h3></h3>
				<p><img src="img/team.jpg" alt="" class="img-rounded pull-right" width="300" > GF-chat is come from innovation project internship program for four month at Rise Up Company. This project buil from team internships as to test creative and innovation idea to imporve their ability and technical skill from what they have learn at school during 2 year. 
                </p>
                </br>
				<h3>Project Purpose</h3>
				<p> GF-chat creates from many idea and discusstion in one purpose to make user know clearly about Gift and Frieebise projects and enjoy with real chat with developer about both project.</p>
				</br>
				<h3>Project Status</h3>
				<p> This project was develop for full more than 2 month. It have 2 feather is real chat and invite friends.</p>
				</br>
				<h3>Technical in use</h3>
				<p>This project build base from Firebase as serverside, and database and Anjularjs as client side. Forthermore we use jquery, boostrap</p>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	</div>