     <toaster-container toaster-options="{'time-out': 10000}"></toaster-container>
    <!-- container -->          
            <!-- Article main content -->
                <header class="page-header col-sm-8">
                    <h1 class="page-title">Invite</h1>
                </header>
                
                <div class="col-sm-8 inconl">
                    <div class="panel panel-default">                          
                          <form class="form-horizontal" role="form" ng-submit="sentMailCtrl.handleAuthClick(invite.$valid)" name="invite">
                          <fieldset>
                          <!-- Form Name -->
                          <legend><h4>Invite People You know va Email</h4></legend>
                          <!-- Password input-->
                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="email">Friends Email:</label>
                            <div class="col-sm-8">
                              <input id="email" type="email" placeholder="Email" class="form-control input-md" ng-model="sentMailCtrl.userEmail" validator="required,email" email-success-message="Field Email is correct email" email-error-message="Field Email is not correct email" required-error-message="Field Email is required email">
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-8 col-sm-offset-4">
                                <input type="submit" class="btn btn-success btn-block" value="Send">
                              </div>
                          </div>
                          <legend><h4>Invite People You know va Facebook</h4></legend>
                          <div class="form-group">
                              <label class="col-sm-4 control-label">Friends Facebook:</label>
                              <div class="col-sm-8">
                                <input type="button" class="btn btn-block" style="background:#45619D; color:white;" 
                                ng-click="sentMailCtrl.sendRequestViaMultiFriendSelector()"
                                value="Send Request To Your Facebook Friends">
                              </div>
                          </div>
                    </fieldset>
                </form>
            </div>
        </div>                    

